body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    font-family: $welcomePageFontFamily;
    background: $welcomePageBackground;

    .header {
        width: 100%;
        position: sticky;
        top: 0;
        background: white;

        .container {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //min-height: $welcomePageHeaderMinHeight;
          //overflow: hidden;
          //position: relative;
          text-align: center;
        }
    }

    .welcome-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$welcomePageHandlerHeight});
        overflow-y: auto;

        .bg-wrapper {
            display: flex;
        }

        .content-wrapper {
            justify-content: space-evenly;
            max-width: $maxContentWidth;
            width: 100%;
            margin: 0 auto;
            display: block;
            border-bottom: 1px solid #eee;
            text-align: center;

            @include media-breakpoint-up(md) {
                text-align: left;
                display: inline-flex;
            }
        }

        .intro-wrapper {
            padding: 0em 2em 2em;
            max-width: 39rem;
            display: inline-flex;
            flex-direction: column;
            flex-basis: 35rem;
            flex-shrink: 1;
            margin: 0 auto;
            border-bottom: 1px solid #eee;
            word-break: keep-all;

            @include media-breakpoint-up(md) {
                max-width: 35rem;
                padding: 3em 3em 6em;
                margin: 0;
                border-bottom: 0;
            }
        }

        .header-image {
            padding: 1em 0em;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-basis: 45%;
            width: 100%;
            max-width: 39rem;

            @include media-breakpoint-up(md) {
                width: initial;
                max-width: initial;
            }

            img {
                width: 100%;
            }
        }
    }

    .header, .footer {
        .container {
            margin: 0 auto;
            max-width: $maxContentWidth;
            word-break: keep-all;
        }
    }

    .header-image {
        .img-wrapper {
            padding: 1.5rem;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
            border-radius: 0.5rem;

            img {
                object-fit: contain;
                border-radius: 0.5rem;
                width: 100%;
                max-width: 50rem;
            }
        }
    }

    .header-text {
        display: $welcomePageHeaderTextDisplay;
        flex-direction: column;
        margin-top: $welcomePageHeaderTextMarginTop;
        margin-bottom: $welcomePageHeaderTextMarginBottom;
        color: white;
    }

    .header-text-title {
        color: $welcomePageTitleColor;
        font-size: $welcomePageHeaderTextTitleFontSize;
        font-weight: $welcomePageHeaderTextTitleFontWeight;
        line-height: $welcomePageHeaderTextTitleLineHeight;
        margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
        opacity: $welcomePageHeaderTextTitleOpacity;
    }

    .header-text-description {
        display: none;
        color: $welcomePageDescriptionColor;
        font-size: $welcomePageHeaderTextDescriptionFontSize;
        font-weight: $welcomePageHeaderTextDescriptionFontWeight;
        line-height: $welcomePageHeaderTextDescriptionLineHeight;
        margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
        align-self: $welcomePageHeaderTextDescriptionAlignSelf;
        word-break: keep-all;

        @include media-breakpoint-up(sm) {
            display: $welcomePageHeaderTextDescriptionDisplay;
        }
    }

    #enter_room {
        display: $welcomePageEnterRoomDisplay;
        align-items: center;
        max-width: 100%;
        z-index: $zindex2;
        background-color: transparent;
        border-radius: $welcomePageEnterRoomBorderRadius;

        .enter-room-input-container {
            width: 100%;
            padding: $welcomePageEnterRoomInputContainerPadding;
            text-align: left;
            color: #253858;
            height: fit-content;

            .enter-room-title-container {
                vertical-align: bottom;

                :first-child {
                    margin-right: 10px;
                }

                .enter-room-login-required {
                    color: $chatPrivateMessageBackgroundColor;
                }
            }

            .enter-room-title {
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .enter-room-input {
                border: 1px solid #dadce0;
                display: inline-block;
                width: 100%;
                font-size: 16px;
                padding: 16px;
                border-radius: 4px;
            }

            .insecure-room-name-warning {
                align-items: center;
                color: $defaultWarningColor;
                display: flex;
                flex-direction: row;
                margin-top: 5px;

                .jitsi-icon {
                    margin-right: 15px;

                    svg {
                        fill: $defaultWarningColor
                    }
                }
            }

            ::placeholder {
                color: #253858;
            }
        }

    }

    #moderated-meetings {
        max-width: calc(100% - 40px);
        padding: 16px 0 39px 0;
        width: $welcomePageEnterRoomWidth;

        p {
            color: $welcomePageDescriptionColor;
            text-align: left;

            a {
                color: inherit;
                font-weight: 600;
            }
        }
    }

    .tab-container {
        font-size: 16px;
        text-align: left;
        width: 100%;
        max-width: $maxContentWidth;
        background: white;
        display: $welcomePageTabContainerDisplay;
        margin: 0 auto 2rem auto;
        flex-grow: 1;

        .tab-content{
            display: $welcomePageTabContentDisplay;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }

        .tab-buttons {
            font-size: 18px;
            color: #FFFFFF;
            display: $welcomePageTabButtonsDisplay;
            flex-grow: 0;
            flex-direction: row;
            min-height: 54px;
            width: 100%;

            .tab {
                display: $welcomePageTabDisplay;
                text-align: center;
                background: rgba(9,30,66,0.37);
                height: 55px;
                line-height: 54px;
                flex-grow: 1;
                cursor: pointer;

                &.selected, &:hover {
                    background: rgba(9,30,66,0.71);
                }

                &:last-child {
                    margin-left: 1px;
                }
            }
        }
    }

    .welcome-page-button {
        min-width: $welcomePageButtonMinWidth;
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        background: #3B475C;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        cursor: pointer;
        white-space: nowrap;
        padding: 8px 16px;

        &.disabled {
          color: rgba(0,0,0,0.65);
          background: #f5f5f5;
          border-color: #d9d9d9;
          pointer-events: none;
        }
    }

    .header-toolbars {
        z-index: $zindex2;
        margin-right: 16px;

        .welcome-page-settings {
            color: $welcomePageDescriptionColor;
    
            * {
                cursor: pointer;
                font-size: 32px;
            }
        }

        .button {
            color: $welcomePageButtonTextColor !important;
        }

        .toolbox-icon {
            height: 24px;
            width: 24px;
        }
    }

    .welcome-watermark {
        .watermark.leftwatermark {
            width: $welcomePageWatermarkWidth;
            height: $welcomePageWatermarkHeight;
        }
    }

    .user-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .avatar {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 6px;
        }
    }

    .footer {
        width: 100%;
        background-color: #343a40 !important;
        font-size: 16px;
        z-index: 1;

        .container {
            padding: 24px 40px;

            .copyright {
                margin-bottom: 4px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 13px;
            }

            .nav {
                display: block;

                a {
                    margin-right: 16px;
                    color: white;

                    &:hover {
                      text-decoration: none;
                    }
                }
            }
        }
    }
}
