@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.watermark {
    display: none;
    margin: 20px;
    z-index: 10;

    @include media-breakpoint-up(sm) {
        display: block;
    }
}
