@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.watermark {
    display: none;
    margin: 24px 0 0 24px;

    @include media-breakpoint-up(sm) {
        display: block;
    }
}
