@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.container {
    height: unset !important;
}

.button {
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    pointer-events: auto;
}
