@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.container {
    height: unset !important;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    pointer-events: auto;
    margin-left: 4px;

    &:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}
