@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../../css/variables';

.meetingsList {
    font-size: 14px;
    color: #253858;
    line-height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    .button {
        background: #0074E0;
        border-radius: 4px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
    }

    .calendarActionButtons {
        .button {
            margin: 0px 10px;
        }
    }

    .item {
        box-sizing: border-box;
        display: inline-flex;
        min-height: 92px;
        width: 100%;
        word-break: break-word;
        display: flex;
        flex-direction: row;
        text-align: left;

        &:nth-child(even) {
            background: #eee;
        }

        .leftColumn {
            display: flex;
            flex-direction: column;
            width: 140px;
            flex-grow: 0;
            padding: 25px 0 0 2em;

            @include media-breakpoint-up(md) {
                padding: 25px 0 0 5em;
            }

            .date {
                font-weight: bold;
                padding-bottom: 5px;
            }
        }

        .rightColumn {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-left: 25px;
            padding-top: 25px;
            padding-right: 25px;
            width: calc(100vw - 140px - 52px);

            @include media-breakpoint-up(md) {
                padding-right: 0;
                width: initial;
            }

            .title {
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .actions {
            display: none;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            padding-right: 30px;

            @include media-breakpoint-up(md) {
                display: flex;
            }
        }

        .actionsUpper {
            display: none;
            align-items: start;
            justify-content: center;
            flex-grow: 0;
            padding-top: 5px;
            padding-right: 5px;

            @include media-breakpoint-up(md) {
                display: flex;
            }
        }

        &.withClickHandler {
            cursor: pointer;
        }

        .addButton {
            width: 30px;
            height: 30px;
            padding: 0px;
        }

        i {
            cursor: inherit;
        }

        .joinButton {
            display: none;
        }

        &:hover .joinButton {
            display: block
        }
    }
}
