@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../../css/variables';

.watermark {
    display: flex;
    justify-content: start;
    align-items: center;
    height: $watermarkHeight;
    z-index: $zindex2;

    .leftwatermark {
        margin: 0;
        max-height: 20px;
        position: relative;

        @include media-breakpoint-up(md) {
            max-height: 36px;
        }
    }
    
    .rightwatermark {
        right: 32px;
        top: 32px;
        background-position: center right;
    }
}
