@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.flagContainer {
    padding: 16px;
    background: white;
	box-shadow: 2px 2px 4px #333;
    border-radius: 4px;
    color: #eee;
    background: #3b465b;

    .iconContainer {
        margin-right: 16px;
    }

    .titleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            margin: 0 auto 0 0;
            font-size: 18px;
            font-weight: bold;
            color: inherit;
        }

        .close {
            cursor: pointer;
        }
    }

    .contentContainer {
        margin-left: 48px;

        .description {
            margin: 16px 0;
            color: inherit;
        }
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .button {
            &:not(:first-child) {
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                content: "·";
                width: 16px;
            }

            button {
                color: inherit !important;

                &:hover {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
