@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.meetingsListEmpty {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .description {
        font-size: 16px;
        padding: 20px;
    }
}
