@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.backgroundSelection {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .button {
        cursor: pointer;
    }

    .backgroundSelectors {
        font-size: 14px;
        display: inline-flex;
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        flex-wrap: wrap;
        max-height: 160px;
    }

    .backgroundSelector {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        margin-left: 5px;
        width: calc(50% - 10px);
        min-width: 110px;
        height: 70px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        border: 2px solid rgb(40, 52, 71);
        cursor: pointer;
        background: rgba(58, 75, 103, .5);

        &:hover {
            border: 2px solid #aaa;

            .close {
                display: block;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .close {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .selected {
        border: 2px solid steelblue !important;
    }

    .column {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;

        &.selectors {
            display: flex;
            flex-direction: column;
            width: calc(50% - 10px);
        }

        &.video {
            width: 50%;
        }
    }

    .videoContainer {
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .toolbar {
        display: flex;
        height: 24px;
        align-items: flex-start;
        justify-content: flex-end;

        input {
            display: none;
        }
    }
}
