@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.timeRemainedContainer {
    display: inline-block;
    background: darkgreen;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}
