@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.tab {
    display: $welcomePageTabDisplay;
    text-align: center;
    background: rgba(9,30,66,0.37);
    height: 55px;
    line-height: 54px;
    flex-grow: 1;
    cursor: pointer;

    &.selected, &:hover {
        background: rgba(9,30,66,0.71);
    }

    &:last-child {
        margin-left: 1px;
    }
}
