@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.tabContainer {
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: $maxContentWidth;
    background: white;
    display: $welcomePageTabContainerDisplay;
    margin: 0 auto 2rem auto;
    flex-grow: 1;

    .tabContent{
        display: $welcomePageTabContentDisplay;
        overflow: hidden;
        flex-grow: 1;
        position: relative;
    }

    .tabButtons {
        font-size: 18px;
        color: #000000;
        border-radius: 6px;
        display: $welcomePageTabButtonsDisplay;
        flex-grow: 0;
        flex-direction: row;
        min-height: 54px;
        width: 100%;
    }
}
