@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .messageMenuContainer {
        margin-left: 16px;

        button {
            background: none;
            padding: 6px 0;
            height: unset;
            line-height: unset;
        }
    }
}
