@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.chatHeader {
    display: flex;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    justify-content: space-between;

    // .titleContainer {
    //     display: flex;
    // }
    
    // .toolbarContainer {
    //     display: flex;

    //     .search
    // }

    .toolContainer {
        display: flex;
        font-size: 14px;
        font-weight: normal;

        .button {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    
        button {
            background: none;
            padding: 6px 8px;
            height: unset;
            line-height: unset;
        }

        > div:last-child {
            margin-left: 10px;
        }
    }
}

.searchContainer {
    position: relative;
    flex-grow: 1;

    .closeIcon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;
        color: gray;
    }
}
