@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.itemContainer {
    display: flex;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
        background-color: $overflowMenuItemHoverBG;
        color: $overflowMenuItemHoverColor;
    }
}

.nameContainer {
    display: inline-flex !important;
    padding: 0 16px 0 10px;
    box-sizing: border-box;
    width: 35% !important;

    .name {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.emailContainer {
    display: inline-flex !important;
    padding: 0 16px 0 5px;
    box-sizing: border-box;
    width: 65% !important;

    .email {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.disabled {
    :global .jitsi-icon svg {
        fill: gray;
    }
}
