@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';

.inputContainer {
    display: flex;
    align-items: flex-end;

    .seperator {
        margin: 0 10px;
        line-height: 32px;
    }
}
