@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

.container {
    margin: 0 !important;
    padding: 0 20px;
    box-sizing: border-box;
}

.titleContainer {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .button {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 5px;

        &:hover {
            background: $overflowMenuItemHoverBG;
        }

        &.pressed {
            background: $overflowMenuItemHoverBG;
        }
    }
}

.divider {
    border-color: rgba(255,255,255,0.3);
    border-width: 1px 0 0 0;
    margin: -5px 0 10px 0;
}
